extends layout.jade
block contenido
	div(class="text-center mediano animated bounceIn delay-2")
		h1(class="pacifico grande azul") Contacto
	div(class="text-center animated pulse")
		p Escribenos a esta direcciń de correo: #[a(href="mailto:buirai_naetle@hotmail.com") buirai_naetle@hotmail.com] 
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3725.721726913803!2d-89.62413547379516!3d20.963687374623294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xeea41baffca8b659!2sAcuario+El+Ancla!5e0!3m2!1ses-419!2smx!4v1427662555798" width="600" height="450" frameborder="0" style="border:0")
		p
			h3 #[small(class="lato small") La información proporcionada arriba es falsa]
	