doctype html
html(lang="en")
  head
    title ¡Come como cerdo!
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/animate.css")
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
  body
    section(class="full-height text-center" id="main-content")
      div(class="data")
        div(class="col-md-3 center-block no-float text-center espacio-arriba")
          img(src="imgs/food_index.png" class="animated fadeIn")
          h1(class="pacifico grande verde") El cerdo grasoso
          div(class="animated fadeInDown delay-2")
            h2 Ven, Come y engorda :'v
            nav
              a(href="menu" class="espacio-derecha") Menú
              a(href="contacto" class="espacio-derecha") Contacto
              a(href="acercaDe" class="espacio-derecha") Acerca de
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="js/main.js")